{% extends "layout.njk" %}

{% block head %} <link href="courses.css" rel="stylesheet"> {% endblock %}

{% block content %}

  <header>
      <a href="/"><img src="./logo-rocketseat 1.svg" alt="logo rocket"></a>
  </header>

<section class="cards">

 {% for item in items %}

    <div class="card" id="{{item.id}}">
        
        <div class="number">
            <p>{{item.number}}</p>
        </div>
        
        <div class="image">
            <img src="{{item.image}}" alt="logo starter">
        </div>
       
        <div class="content">
            <p>{{item.title}}</p>
        </div>
        
        <div class="info">
            <p class="module">{{item.duration}}</p>
            <p class="price">{{item.price}}</p>
        </div>
        
    </div>

  {% endfor %}

</section>

<script src="/scripts.js"></script>

{% endblock %}
